<h1>{{title}}</h1>
<form [formGroup]="userForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Nome</mat-label>
    <input matInput formControlName="firstName">
    <mat-error *ngIf="userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched || userForm.touched">
      Nome é obrigatório
    </mat-error>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Sobrenome</mat-label>
    <input matInput formControlName="lastName">
    <mat-error *ngIf="userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched || userForm.touched">
      Sobrenome é obrigatório
    </mat-error>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Ex. seu.nome@email.com">
    <mat-error *ngIf="userForm.get('email')?.invalid && userForm.get('email')?.touched || userForm.touched">
      Email é obrigatório
    </mat-error>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Data de nascimento</mat-label>
    <input matInput formControlName="birthday" [matDatepicker]="picker">
    <mat-hint>DD/MM/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-error *ngIf="userForm.get('birthday')?.invalid && userForm.get('birthday')?.touched || userForm.touched">
      Data de nascimento é obrigatória
    </mat-error>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Fone</mat-label>
    <input matInput formControlName="phone">
    <mat-error *ngIf="userForm.get('phone')?.invalid && userForm.get('phone')?.touched || userForm.touched">
      Telefone é obrigatório
    </mat-error>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Login</mat-label>
    <input matInput formControlName="login">
    <mat-error *ngIf="userForm.get('login')?.invalid && userForm.get('login')?.touched || userForm.touched">
      Login é obrigatório
    </mat-error>
 </mat-form-field>

 <mat-form-field>
    <mat-label>Senha</mat-label>
    <input matInput type="password" formControlName="password">
    <mat-error *ngIf="userForm.get('password')?.invalid && userForm.get('password')?.touched || userForm.touched">
      Senha é obrigatória
    </mat-error>
 </mat-form-field>

  <div></div>

  <div formArrayName="cars">
    <div *ngFor="let car of cars.controls; let i = index" [formGroupName]="i">
       <h3>Carro {{ i + 1 }}</h3>
       <mat-form-field>
         <mat-label>Ano</mat-label>
         <input matInput formControlName="year">
       </mat-form-field>
       <mat-form-field>
         <mat-label>Placa</mat-label>
         <input matInput formControlName="licensePlate">
       </mat-form-field>
       <mat-form-field>
         <mat-label>Modelo</mat-label>
         <input matInput formControlName="model">
       </mat-form-field>
       <mat-form-field>
         <mat-label>Cor</mat-label>
         <input matInput formControlName="color">
       </mat-form-field>
       <button mat-raised-button color="warn" (click)="removeCar(i)">Remover Carro</button>
    </div>
   </div>
   <button type="button"  mat-raised-button color="primary" (click)="addCar()">Adicionar Carro</button>

  <button type="submit" mat-raised-button color="primary">Enviar</button>

  <button type="button" mat-raised-button color="basic" routerLink="">Voltar</button>
</form>
